html {
    font-family: Helvetica, Arial, sans-serif;
}

#title {
    font-size: 2vw;
}

.post {
    position: absolute;
    width: 20%;
    height: 40%;
}

.commentButton {
    width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
}